$def with (measures, id)

<div class="columns mt-2">
    <div class="column col-7">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp [&deg;C]</th>
                    <th>Humidity [%]</th>
                    <th>Pressure [hPa]</th>
                    <th>Temp. outside [&deg;C]</th>
                    <th>CAQI</th>
                    <th>PM 2.5</th>
                    <th>PM 10</th>
                </tr>
            </thead>
            <tbody>
                $for measure in measures:
                <tr>
                    <td>$measure.measured_at</td>
                    <td>$measure.temperature</td>
                    <td>$measure.humidity</td>
                    <td>$measure.pressure</td>
                    <td>$measure.outside_temp</td>
                    <td>$measure.caqi</td>
                    <td>$measure.pm_2_5</td>
                    <td>$measure.pm_10</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="columns mt-2">
    <div class="column col-4">
        <ul class="pagination">
            <li class="page-item disabled">
                <a href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active">
                <a href="#">1</a>
            </li>
            <li class="page-item">
                <a href="#">2</a>
            </li>
            <li class="page-item">
                <a href="#">3</a>
            </li>
            <li class="page-item">
                <span>...</span>
            </li>
            <li class="page-item">
                <a href="#">12</a>
            </li>
            <li class="page-item">
                <a href="#">Next</a>
            </li>
        </ul>
    </div>
</div>